{{ define "main" }}
<div class="post h-entry">
  {{ if .Title }}
    <h1 class="page-title p-name">{{ .Title }}</h1>
  {{ end }}
  <span class="post-date"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "2 Jan 2006 // 15:04" }}</time></span>
  <div class="e-content">
  {{ .Content }}
  {{ partial "reply-by-email.html" . }}
  </div>
</div>

{{ if .Site.Params.include_conversation }}
<h2 class="conversation-title">Conversation</h2>
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}

{{ end }}