<style>
  :root {
    --border-color: {{ $.Site.Params.border_color | safeCSS }};
    --border-shadow-color: {{ $.Site.Params.border_shadow_color | safeCSS }};
    --content-column-bg-color: {{ $.Site.Params.content_column_bg_color | safeCSS }};
    --content-bg-color: {{ $.Site.Params.content_bg_color | safeCSS }};
    --sidebar-bg-color: {{ $.Site.Params.sidebar_bg_color | safeCSS }};
    --nav-bg-color: {{ $.Site.Params.nav_bg_color | safeCSS }};
    --nav-text-color: {{ $.Site.Params.nav_text_color | safeCSS }};
    --nav-bg-hover-color: {{ $.Site.Params.nav_bg_hover_color | safeCSS }};
    --nav-text-hover-color: {{ $.Site.Params.nav_text_hover_color | safeCSS }};
    --title-bg-color: {{ $.Site.Params.title_bg_color | safeCSS }};
    --title-text-color: {{ $.Site.Params.title_text_color | safeCSS }};
    --title-bg-hover-color: {{ $.Site.Params.title_bg_hover_color | safeCSS }};
    --title-text-hover-color: {{ $.Site.Params.title_text_hover_color | safeCSS }};
    --link-bg-color: {{ $.Site.Params.link_bg_color | safeCSS }};
    --link-text-color: {{ $.Site.Params.link_text_color | safeCSS }};
    --link-bg-hover-color: {{ $.Site.Params.link_bg_hover_color | safeCSS }};
    --link-text-hover-color: {{ $.Site.Params.link_text_hover_color | safeCSS }};
    --datetime-bg-color: {{ $.Site.Params.datetime_bg_color | safeCSS }};
    --datetime-text-color: {{ $.Site.Params.datetime_text_color | safeCSS }};
    --datetime-bg-hover-color: {{ $.Site.Params.datetime_bg_hover_color | safeCSS }};
    --datetime-text-hover-color: {{ $.Site.Params.datetime_text_hover_color | safeCSS }};
    --post-title-bg-color: {{ $.Site.Params.post_title_bg_color | safeCSS }};
    --post-title-text-color: {{ $.Site.Params.post_title_text_color | safeCSS }};
    --post-title-bg-hover-color: {{ $.Site.Params.post_title_bg_hover_color | safeCSS }};
    --post-title-text-hover-color: {{ $.Site.Params.post_title_text_hover_color | safeCSS }};
    --content-text-color: {{ $.Site.Params.content_text_color | safeCSS }};
    --photos-bg-color: {{ $.Site.Params.photos_bg_color | safeCSS }};
    --conversation-title-bg-color: {{ $.Site.Params.conversation_title_bg_color | safeCSS }};
    --conversation-title-text-color: {{ $.Site.Params.conversation_title_text_color | safeCSS }};
    --conversation-bg-color: {{ $.Site.Params.conversation_bg_color | safeCSS }};
    --conversation-text-color: {{ $.Site.Params.conversation_text_color | safeCSS }};
    --conversation-user-bg-color: {{ $.Site.Params.conversation_user_bg_color | safeCSS }};
    --conversation-user-text-color: {{ $.Site.Params.conversation_user_text_color | safeCSS }};
    --conversation-link-bg-color: {{ $.Site.Params.conversation_link_bg_color | safeCSS }};
    --conversation-link-text-color: {{ $.Site.Params.conversation_link_text_color | safeCSS }};
    --conversation-link-bg-hover-color: {{ $.Site.Params.conversation_link_bg_hover_color | safeCSS }};
    --conversation-link-text-hover-color: {{ $.Site.Params.conversation_link_text_hover_color | safeCSS }};
    --conversation-timestamp-bg-color: {{ $.Site.Params.conversation_timestamp_bg_color | safeCSS }};
    --conversation-timestamp-text-color: {{ $.Site.Params.conversation_timestamp_text_color | safeCSS }};
    --conversation-timestamp-bg-hover-color: {{ $.Site.Params.conversation_timestamp_bg_hover_color | safeCSS }};
    --conversation-timestamp-text-hover-color: {{ $.Site.Params.conversation_timestamp_text_hover_color | safeCSS }};
    --bookshelf-bg-color: {{ $.Site.Params.bookshelf_bg_color | safeCSS }};
    --bookshelf-text-color: {{ $.Site.Params.bookshelf_text_color | safeCSS }};
    --bookshelf-cover-bg-color: {{ $.Site.Params.bookshelf_cover_bg_color | safeCSS }};
    --bookshelf-cover-border-color: {{ $.Site.Params.bookshelf_cover_border_color | safeCSS }};
    --bookshelf-cover-border-hover-color: {{ $.Site.Params.bookshelf_cover_border_hover_color | safeCSS }};
    --archive-bg-color: {{ $.Site.Params.archive_bg_color | safeCSS }};
    --archive-text-color: {{ $.Site.Params.archive_text_color | safeCSS }};
    --archive-timestamp-bg-color: {{ $.Site.Params.archive_timestamp_bg_color | safeCSS }};
    --archive-timestamp-text-color: {{ $.Site.Params.archive_timestamp_text_color | safeCSS }};
    --archive-timestamp-bg-hover-color: {{ $.Site.Params.archive_timestamp_bg_hover_color | safeCSS }};
    --archive-timestamp-text-hover-color: {{ $.Site.Params.archive_timestamp_text_hover_color | safeCSS }};
  }
</style>